<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body {
            background-color: lightblue;
        }
    </style>
</head>
<body>
<h1> eBay </h1>
<p> eBay was one of the first companies to create and market an Internet Web site to match buyers and sellers of goods and services. The company, which caters to individual sellers and small businesses, is a market leader in e-commerce worldwide. eBay is headquartered in San Jose, California.</p>
<img src="/static/headphones.jpeg">
<p> headphones for $25</p>
<img src="static/laptop.jpg" width="350" height="200">
<p> laptop for $3,000 </p>
<img src="static/shoes.jpeg" width="350" height="200">
<p> shoes for $150 </p>

<a href='/product'>products</a>
<a href='/cart'>add to cart</a>
</body>
</html>